.invisible{
    display: none;
}

.showflex{
    display: flex;
}

.wrapper{
    position: absolute;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.float{
    position: fixed;
}

.blur{
    filter: blur(3px);
}