#wallpaper{

    width: 100%;
    height: 100%;
    
    background-image: url(../image/background2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;

    transform: scale(2) rotate(0deg);

    animation: rotateAnimation 1200s linear infinite;
}

article{
    width: calc(100% - 2 * var(--article-margin-percentage)); height: fit-content;

    margin-left: var(--article-margin-percentage);
    margin-right: var(--article-margin-percentage);

    /* background-color: #00ffff0f; */
}

@media(max-width: 890px){
    #wallpaper{

        width: 100%;
        height: 100%;
        
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        z-index: -1;
    
        transform: none;
    
        animation: none;
    }
}