html{
    background-color: #182837;
}

#moviePanel{
    display: flex;

    flex-direction: column;
    justify-content: flex-start;

    width: 100%; height: 100%;

    /* margin-left: 15vw;
    margin-right: 15vw; */

    /* background-color: #ffa5000a; */
}

@media(max-width: 890px){
    #moviePanel{
        width: 100%;
        height: fit-content;
        min-height: 100%;
/* 
        margin-left: 5vw;
        margin-right: 5vw; */

        background-color: #e1e1e1;
    }
    html{
        background-color: #FFF;
    }
}