#wrapper{
    height: fit-content;
    min-height: 100%;
    width: 100%;
}

@keyframes rotateAnimation {
    0% {
        transform: scale(2.2) rotate(0deg);
    }
    100% {
        transform: scale(2.2) rotate(360deg);
    }
}

@keyframes imgSlider {
    0.000% { transform: translate(-0vw, 0px); }
    8.888% { transform: translate(-0vw, 0px); }

    11.111% { transform: translate(-100vw, 0px); }
    20.000% { transform: translate(-100vw, 0px); }

    22.222% { transform: translate(-200vw, 0px); }
    31.111% { transform: translate(-200vw, 0px); }

    33.333% { transform: translate(-300vw, 0px); }
    42.222% { transform: translate(-300vw, 0px); }

    44.444% { transform: translate(-400vw, 0px); }
    53.333% { transform: translate(-400vw, 0px); }

    55.555% { transform: translate(-500vw, 0px); }
    64.444% { transform: translate(-500vw, 0px); }

    66.666% { transform: translate(-600vw, 0px); }
    75.555% { transform: translate(-600vw, 0px); }

    77.777% { transform: translate(-700vw, 0px); }
    86.666% { transform: translate(-700vw, 0px); }

    88.888% { transform: translate(-800vw, 0px); }
    99.999% { transform: translate(-800vw, 0px); }
    
    100.000% { transform: translate(-0vw, 0px); } 
}






nav{
    width: 100%;
    height: fit-content;
    /* background-color: #ff7f500a; */
}








#eclipse{
    background-image: url(../../image/svg/eclipse.svg);
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}



.navComponent{
    height: 3em;
    filter: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(765%) hue-rotate(194deg) brightness(113%) contrast(100%);

    padding-left: 1.5em;
    padding-right: 1.5em;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    user-select: none;
    -webkit-user-drag: none;

    font-weight: bold;
}

.navComponent:hover{
    color: #a5a0f3;
    filter: brightness(0) saturate(100%) invert(63%) sepia(25%) saturate(706%) hue-rotate(204deg) brightness(101%) contrast(91%) drop-shadow(0 0 1em #7749cc99);
}

.navComponent > img{
    height: 1em;

    padding-left: 0.5em;
}

#navigationPanel{
    width: 100%;
}

.officialLink{
    color: white;
    text-decoration: none;
}


.transition-WidthHeight{
    
    transition: width 0.7s, height 0.7s, box-shadow 0.7s, font-size 0.7s;

}

.transition-navigation{
    transition: filter 0.4s;
}

.movie_text_div{
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: var(--movie-search-list-width); */
    padding-top: 6px;

    margin:auto;
}
.movie_text_div > span{
    word-break: break-all;
    text-align: center;
    width: -webkit-fill-available;
}

.movie_content_img_panel{
    border-radius: 10px;
    overflow: hidden;
}

.movie_content_img_panel > img{
    box-shadow: 0 0 20px 4px #746edf4a;

    transition: box-shadow, 0.7s;

    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.movie_content_img_panel > img:hover{
    box-shadow: 0 0 20px 4px #5f5aa9c7;
}


#movieContents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movieContentClass{
    /* background-color: #e5e5e5; */

    border-radius: 20px 20px 0px 0px;
    /* box-shadow: inset 0px 0px 50px #adadad; */
}

@media(min-width: 890px){
    .movieContentClass{
        background-color: #e5e5e5;

        /* border-radius: 20px 20px 0px 0px; */
        box-shadow: inset 0px 0px 50px #adadad;
    }

    .underposter{
        width: 13.14%;

        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width: 890px){
    .underposter{
        width: 18%;

        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

.movie_content{
    border: 10px solid #00000000;
    border-top: 20px solid #00000000;

    box-sizing: content-box;

    width: var(--movie-search-list-width);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchLog{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

#searchLog > div{
    display: flex;
    filter: drop-shadow(0px 0px 0.3em white);
}

.ssearchLogRemover{
    color: white;

    padding-left: 5px;
    padding-right: 10px;

    cursor: pointer;
}

.searchlog{
    color: white;
    cursor: pointer;
}

.movie_content_img_panel{
    /* height: 251px;
    width: 176px; */

    height: calc(var(--movie-search-list-width) * 1.4261);
    width: var(--movie-search-list-width);
}

.movie_content_img_star{
    opacity: 0%;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    display: flex;

    background-color: #000000ad;

    justify-content: center;
    align-items: center;


}
.movie_content_img_star:hover{
    opacity: 100%;
}



#controlPanel{
    width: 100%; height: 120px;

    display: flex;

    justify-content: center; align-items: center;
}

#sendAnalysticsButton{
    height: 50%; width: fit-content;

    border-radius: 10px;

    justify-content: center; align-items: center;
    
    color: white;

    font-size: 1.3em;

    background: linear-gradient(0.25turn, #a9a9a9, #7f7f7f);

    cursor: not-allowed;



    position: relative;

    z-index: 2;

    white-space: nowrap;

    padding-left: 1em;
    padding-right: 1em;
}

#sendAnalysticsButton::before{

    position: absolute;
    
    background: linear-gradient(0.25turn, #3f6ce1, #763bdf);
    
    border-radius: 10px;
    content: "영화 추천 받기";
    cursor: not-allowed;

    width: 100%; height: 100%;

    opacity: 0;

    transition: opacity 0.5s linear;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}


#sendAnalysticsButton[isBlocked="false"]::before{
    opacity: 1;
    cursor: pointer;
}


.loader {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;

    margin: 120px auto;
}
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 7px solid #5b54e0;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


#loading{
    width: 100%;
}





#ranking{
    flex-direction: column;
}

.rankingPoster{
    display:flex;
}

#ranking_underrank{
    justify-content: center;
    flex-wrap: wrap;
}

.poster{
    height: fit-content;
}

.poster > .movie_content_img_panel {
    width: 100%;
    height: 100%;
}

.poster > .movie_content_img_panel > img {
    width: 100%;
    aspect-ratio: 1 / 1.4261;
    object-fit: cover;
}

.topposter{
    width: 26.66%;
    padding-left: 5%;
    padding-top: 5%;
}






#ranking_toprank > div > .movie_content_img_panel > img{
    border-width: 10px;
    border-style: solid;
    
    box-sizing: border-box;
}
#ranking_toprank > div.topposter:nth-child(1) > .movie_content_img_panel > img{
    border-color: gold;
    border-top-color: #fff6c8;
    border-left-color: #fff6c8;
}
#ranking_toprank > div.topposter:nth-child(2) > .movie_content_img_panel > img{
    border-color: silver;
    border-top-color: #d9d9d9;
    border-left-color: #d9d9d9;
}
#ranking_toprank > div.topposter:nth-child(3) > .movie_content_img_panel > img{
    border-color: #B87333;
    border-top-color: #d59e6c;
    border-left-color: #d59e6c;
}