:root{
    --complete-wallpaper-color: #DFF2EB;
    --review-background-color: #5D77A4;


    --editor-background-color: #F8F8E5;
    --editor-tabmenu-font-color: #1C3969;
    --editor-tabmenu-font-color-hover: #6089cb;
}